[project]
	description = MTK devices need more ROM options
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/electrofryed
[access "refs/for/refs/*"]
	read = group user/electrofryed
	push = group user/electrofryed
	label-Code-Review = -2..+2 group user/electrofryed
	label-Verified = -1..+1 group user/electrofryed
	rebase = group user/electrofryed
	removeReviewer = group user/electrofryed
	submit = group user/electrofryed
[access "refs/heads/*"]
	read = group user/electrofryed
	create = group user/electrofryed
	push = +force group user/electrofryed
	pushMerge = group user/electrofryed
[access "refs/tags/*"]
	push = group user/electrofryed
	push = +force group user/electrofryed
